@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

* {
    margin: 0;
   
}

button {
    background-color: green;
    font-family: 'Roboto Slab', serif;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    height: 100dvh;
}

.d-none {
    display: none !important;
}

.gameOver {
    font-family: 'Roboto Slab', serif;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    backdrop-filter: blur(4px);
}

#Game {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 900px;
    margin: 0 auto;
    border: 1px solid black;
    position: relative;
    z-index: 1;
}




.left {
    background-image: url('platform_left.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.right {
    background-image: url('platform_right.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.center {
    background-image: url('platform_center.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#doodle {
    background-image: url('doodle.png');
    background-size: 45px 40px;
    padding-left: 10px;
    margin-left: -10px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}